<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="<%= user.username %>/posts/create">Add New Post</a>
    <% posts.forEach(function(post) { %>
        <a href="<%= post.url %>"><%= post.text %></a>
    <% }); %>
    <% user.friends.forEach(function(friend) { %>
        <a href="<%= friend.username %>/profile"><%= friend.firstname %> <%= friend.lastname %></a>
    <% }); %>
    <% user.friendRequests.forEach(function(friendRequest) { %>
        <a href="<%= friendRequest %>/accept">Accept friend request from: <%= friendRequest %></a>
        <a href="<%= friendRequest %>/reject">Reject friend request from: <%= friendRequest %></a>
    <% }); %>
</body>
</html>