<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/profilestyle.css' />
</head>
<body>

    <div class="header">
        <a href="/" class="logo">Sociorama</a>
        <div class="profile-wrapper">
            <div class="profile-header">
                <img class="profile-picture" src="<%= currentUser.pfp %>">
                <p><%= currentUser.firstname %> <%= currentUser.lastname %></p>
            </div>
            <div class="profile-dropdown hidden">
                <a href="/people/<%= currentUser.username %>/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="profile-info">
            <img class="profile-picture" src="<%= profileUser.pfp %>">
            <% if (profileUser.username === currentUser.username) { %>
                <form action="update-pfp" method="post" enctype="multipart/form-data">
                    <input type="file" name="pfp" accept="image/jpeg, image/png">
                    <input type="submit" value="Upload">
                </form>
            <% } %>
            <p><%= profileUser.firstname %> <%= profileUser.lastname %></p>
            <p>@<%= profileUser.username %></p>
            <% if (profileUser.username === currentUser.username) { %>
                <form action="/people/<%= currentUser.username %>/delete" method="POST">
                    <button>Delete Account</button>
                </form>
            <% } %>
        </div>
        <p><%= profileUser.firstname %> <%= profileUser.lastname %></p>
        <% console.log(profileUser.friends) %>
        <% console.log(currentUser._id) %>
        <% if (profileUser.username !== currentUser.username) { %>
            <% if (profileUser.friends[0] !== undefined && profileUser.friends.includes(currentUser._id)) { %>
                <a href="unfriend">Remove Friend</a>
            <% } else if (profileUser.friendRequests[0] !== undefined && profileUser.friendRequests.includes(currentUser._id)) { %>
                <p>Friend Request Sent</p>
            <% } else if (currentUser.friendRequests[0] !== undefined && currentUser.friendRequests.includes(profileUser._id)) { %>
                <p>Friend Request Pending</p>
            <% } else { %>
                <a href="friend">Send Friend Request</a>
            <% } %>
        <% } %>
        <% posts.forEach(function(post) { %>
            <a href="<%= post.url %>"><%= post.text %></a>
        <% }); %>
    </div>

    <script>
        const profileDropdown = document.querySelector(".profile-header");
        profileDropdown.addEventListener("click", () => {
            document.querySelector(".profile-dropdown").classList.toggle("hidden");
        });
    </script>
</body>
</html>